@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base {
  
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #231557;
    --background: 269 98.05% 98.42%;
    --foreground: 269 6.1% 0.84%;

    --muted: 269 6.1% 92.1%;
    --muted-foreground: 269 3.05% 42.1%;

    --popover: 269 41.2% 92.1%;
    --popover-foreground: 269 6.1% 1.05%;

    --card: 269 41.2% 92.1%;
    --card-foreground: 269 6.1% 1.05%;

    --border: 269 11.1% 89.84%;
    --input: 269 11.1% 89.84%;

    --primary: 269 61% 21%;
    --primary-foreground: 269 1.22% 92.1%;

    --secondary: 269 3.05% 96.05%;
    --secondary-foreground: 269 4.66% 12.1%;

    --accent: 269 3.05% 96.05%;
    --accent-foreground: 269 4.66% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 269 61% 21%;

    --radius: 0.5rem;
    --kcal: #ae2db7;
    --proteins: #ff5590;
    --fats: #ffee36;
    --carbs: #6fc9fd;
  }


  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --kcal: #ae2db7;
    --proteins: #ff5590;
    --fats: #ffee36;
    --carbs: #6fc9fd;

    --gradient: #acb6e5;

    --background: 244 33.800000000000004% 6.32%;
    --foreground: 244 5.2% 98.95%;

    --muted: 244 26% 23.700000000000003%;
    --muted-foreground: 244 5.2% 57.9%;

    --popover: 244 54.6% 10.27%;
    --popover-foreground: 244 5.2% 98.95%;

    --card: 244 54.6% 10.27%;
    --card-foreground: 244 5.2% 98.95%;

    --border: 244 26% 23.700000000000003%;
    --input: 244 26% 23.700000000000003%;

    --primary: 244 52% 79%;
    --primary-foreground: 244 5.2% 7.9%;

    --secondary: 244 26% 23.700000000000003%;
    --secondary-foreground: 244 5.2% 98.95%;

    --accent: 244 26% 23.700000000000003%;
    --accent-foreground: 244 5.2% 98.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 244 5.2% 98.95%;

    --ring: 244 52% 79%;
    --radius: 0.5rem;
  }
}
